<div class="god-gift-form">
    <div class="god-gift-form__user-wealth"></div>

    <h1>Send gift to Goddess Bastet</h1>
    <div class="god-gift-form__wrapper">
        <div class="god-gift-form__gold-tunner"></div>

        <div class="god-gift-form__diamonds-tunner"></div>

        <div class="god-gift-form__silk-tunner"></div>

        <div class="god-gift-form__hate"></div>

        <button class="god-gift-form__send button">
            Send
        </button>
    </div>
</div>
