<div class="god-gift-form">
    <h2>Send gift to the God Ra</h2>

    <div class="god-gift-form__tunners">
    </div>

    <div class="god-gift-form__hate">
    </div>

    <div class="god-gift-form__send button">
        Send 
    </div>
</div>
