<!-- ToDo: user-wealth -->

<div class="user-wealth-indicator">
    <div class="user-wealth__label">Wealth:</div>
    <div class="user-wealth__gold-indicator"></div>
    <div class="user-wealth__copper-indicator"></div>
    <div class="user-wealth__some-indicator"></div>
</div>
